/* Your Debug Classes Here */

.infos {
    background: rgba(10,10,10,.5);
    border: 1px dashed #000;
    color: #fff;
    padding: 5px;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
.infos:hover { opacity: 1 }

.debug {
    background: #05aa19;
    background: rgb(5,170,25);
    background: rgba(5,170,25,.5);
}

/* grids */
#grid {
    position: absolute;
    /*display: none;*/
    background: url(/assets/debug-img/grid.png) repeat-y top center;
    content: ".";
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#grid-14-21 {
    position: absolute;
    /*display: none;*/
    background: url(/assets/debug-img/grid-14_21.png) repeat;
    content: ".";
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}