/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/
@font-face {
	font-family: 'TertreExtraBold';
	src: url('assets/fonts/tertre-xbol-webfont.eot');
	src: local('☺'),url('assets/fonts/tertre-xbol-webfont.woff') format('woff'),
	                url('assets/fonts/tertre-xbol-webfont.ttf') format('truetype'),
	                url('assets/fonts/tertre-xbol-webfont.svg#webfontPRnVByCO') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TertreExtraBoldItalic';
	src: url('assets/fonts/tertre-xbol-ita-webfont.eot');
	src: local('☺'),url('assets/fonts/tertre-xbol-ita-webfont.woff') format('woff'),
	                url('assets/fonts/tertre-xbol-ita-webfont.ttf') format('truetype'),
	                url('assets/fonts/tertre-xbol-ita-webfont.svg#webfontHNCIGNFs') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }


/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* general fonts */
nav {
    font:20px/46px 'TertreExtraBold';
    color:#303030;
    letter-spacing:2px;
}

.articleName {
    font:30px/32px 'TertreExtraBold';
    color:#303030;
    letter-spacing:4px;
}

.aside-h {
    font:16px/20px 'TertreExtraBold';
    color:#b2b2b2;
    letter-spacing:4px;
    text-shadow:1px 1px 1px #000;
}
.aside-h:first-letter,
.articleName { text-transform:capitalize; }