/**************************
00 - Styling back defaults (minimal.css ?)
**************************/
input:focus {
    background: rgb(10,20,30);
    background: rgba(10,20,30,.5);
}
html,
body {
    margin: 0;
    padding: 0;
}
html {
    background: [[*bg-color]];
    height: 100%;
}
body {
    background: [[*body-color]];
    height: auto;
    margin: 0 auto;
    /*min-height: 100%;*/
    overflow: auto;
    width: [[*body-width]];
}

/**************************
01 - HEADER
**************************/
[role=banner] {
    background: [[*aside-color]];
    width: [[*body-width]];
}
    #langSwitch {
        position: absolute;
        right: 0;
        top: 0;
        background: rgba(10,20,30,1);
        padding: 15px;
        color: #fff;
    }
    [role=banner] hgroup {
        margin-left: 20px;
        padding: 0 0 20px;
    }
        /*#siteName {
            margin-left: 20px;
        }*/
            #siteName a {
                color: [[*bg-color]];
                
                text-decoration: none;
                font: 24px/36px bold verdana;
                /*text-shadow: 2px 2px 1px #333;*/
            }
        [role="banner"] h2 { margin-left: 10px; }
/**************************
02 - NAV
**************************/
nav[role="navigation"] {
    background: [[*aside-color]];
}
    nav[role="navigation"] ul {
        background: brown;
        list-style: none;
        height: 30px;
    }
        nav[role="navigation"] li {
            float: left;
            margin-left: 10px;
            /*line-height: 30px;*/
        }
        nav[role="navigation"] li:first-of-type { margin: 0;}
            nav[role="navigation"] li a:first-letter { text-transform: uppercase; }
            nav[role="navigation"] li a {
                background: blue;
                line-height: 30px;
                display: block;
                padding: 0 10px;
                text-decoration: none;
                color: [[*bg-color]];
            }
            nav[role="navigation"] li a:hover {
                background: transparent;
            }


/**************************
03 - CONTENT
**************************/
div.mc {
    /*background: [[*body-color]];*/
    background: rgba(50,40,30,.5);
    float: left;
    min-height: 100%;
    width: [[*body-width:stripString=`px`:subtract=`[[*aside-width:stripString=`px`]]`]]px; /* think about padding, margin & borders */
}
#main {
    background: rgba(0,255,0,.2);
    float: left;
    margin-left: 20px;
    width: [[*main-width]];
}



/**************************
XX - ASIDE
**************************/
aside[role="complementary"] {
    background: [[*aside-color]];
    float: right;
    width: [[*aside-width]];
}

/**************************
XX - FOOTER
**************************/
#footer {
    background: [[*aside-color]];
    clear: both;
}